body {
    padding: 0;
    margin: 0;
    background-color: #0d1137;
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    background-color: #0d1137;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

.wrapper > p {
    background-color: white;
    color: #0d1137;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    cursor: default;
}

.songs {
    background-color: #e52165;
    display: block;
    border-radius: 10px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 625px;
    height: 450px;
    padding: 5px;
    margin: 5px;
    overflow: auto;
    cursor: default;
}

.songs > li {
    margin: 10px;
}

.songs > li > span {
    background-color: #0d1137;
    display: inline-block;
    color: white;
    border-radius: 30px;
    width: 95%;
    padding: 10px;
    transition: all .3s ease-in-out;
 }

.songs > li > span:hover:not(.selected-song) {
    background-color: #1e234d;
    transition: all .3s ease-in-out;
}

.songs > li > span.selected-song {
    background-color: #3d458a;
    transition: all .3s ease-in-out;
}   

.buttons {
    display: flex;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

label, input[type='button'] {
    background-color: #e52165;
    cursor: pointer;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
    transition: all .3s ease-in-out;
}

label:hover, input[type="button"]:hover {
    background-color: #ac325d;
    color: rgb(185, 184, 184);
    transition: all .3s ease-in-out;
}

/* content - wrapper */

.content-wrapper{
    text-align: center;
    position: absolute;
    background: #0d1137;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
    width: 250px;
    color: #ffffff;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-wrapper > p {
    font-size: 20px;
}

.items {
    list-style: none;
    padding: 5px;
}

.items > li {
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: #0d1137;
    background: #ffffff;
    transition: all .3s ease-in-out;
}

.items > li:hover {
    cursor: default;
    color: #ffffff;
    background: #e52165;
    margin-left: 3px;
    transition: all .3s ease-in-out;
}

/*  rename - wrapper */

.rename-wrapper {
    position: absolute;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
}

.rename-wrapper > p {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.rename-wrapper > input[type='text'] {
    outline: 0;
    font-size: 25px;
    background: transparent;
    border-style: hidden hidden solid hidden;
    padding: 5px;
    margin: 20px;
}